ACTIVITY_FOREACH_FILTER.json
{
	"name": "ACTIVITY_FOREACH_FILTER",
	"properties": {
		"activities": [
			{
				"name": "listar arquivos raw",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_generico_csv",
						"type": "DatasetReference",
						"parameters": {
							"ContainerName": "raw",
							"FileName": "*",
							"SeparatorFile": "*"
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "filtrar arquivos csv",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "listar arquivos raw",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('listar arquivos raw').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(item().name, '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach Arquivos",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "filtrar arquivos csv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('filtrar arquivos csv').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ds_generico_csv",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "raw",
										"FileName": {
											"value": "@item().name",
											"type": "Expression"
										},
										"SeparatorFile": ";"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ds_generico_parquet",
									"type": "DatasetReference",
									"parameters": {
										"ContainerName": "trusted",
										"FileName": {
											"value": "@concat(replace(item().name , '.csv', ''), '.parquet')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "01_pipelines"
		},
		"annotations": []
	}
}